<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<title>Testes</title>
		<meta charset="UTF-8"/>
		<script type="text/javaScript" src="js/js.js"></script>
		<link rel="stylesheet" type="text/css" href="css/css_principal.css"/>
	</head>
	<body>
		<div id="cabecalho">
			<div id="titulo">
			</div>
			<div id="loginArea">
			</div>
		</div>
		<div id="corpo">
			<div id="menu">
			</div>
			<div id="conteudo">
				<iframe src="View/conteudo.htm" name="iConteudo" id="iConteudo"></iframe>
			</div>
		</div>
		<div id="rodape">
		</div>
		<form method="post" name="controle" id="controle">
			<input type="hidden" name="hControle" id="hControle" value="">
		</form>
	</body>
</html>