<html>
	<head>
		<META http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>ConNutri - Controle Nutricional</title>
		<script type="text/javascript" src="js/js.js"></script>
		<link rel="stylesheet" type="text/css" href="css/css.css">
	</head>
	<body>
		<iframe id="cabecalho" name="cabecalho" src="cabecalho.htm">Cabecalho</iframe>
		<iframe id="menu" name="menu" src="menu.htm">Menu</iframe>
		<iframe id="conteudo" name="conteudo" src="conteudo.htm">Conteudo</iframe>
	</body>
</html>