<html>
	<head>
		<META charset="UTF-8"/>
		<title>teste Jacana</title>
		<script type="text/javascript" src="js/js.js"></script>
	</head>
	<body>
		<input type="button" value="Clique" id="clique" name="clique" onClick="setarAtributo('invisivel','type','button');removeAtributo('teste','hidden')"/>
		<input type="hidden" value="Apareci" id="invisivel" name="invisivel" onClick="setarAtributo('invisivel','type','hidden');"/>
		<input type="button" value="teste" id="teste" name="teste" onClick="setarAtributo('teste','hidden','');">
	</body>
</html>